extends layout

block content

    .dashboard-wrapper 
        .grid-container.dashboard
            .menu-icon
                i.fas.fa-bars.header__menu
            header.header
                .header__search 
                .header__avatar 
            aside.sidenav
               
                ul.sidenav__list
                    
                    li.sidenav__list-item 
                        a(href="/database/resources") Resources
                    li.sidenav__list-item 
                        a(href="/database/authors") Authors

                    li.sidenav__list-item
                        a(href="/database/types") Types
                    li.sidenav__list-item
                        a(href="/database/courses") Subjects
             
            main.main
                .main-header
                    img(src="/images/mouseclick.png", alt="")
                    div
                        h3.main-header__heading Welcome back !{currentUser.username}! 
                        .main-header__updates Last Login: 05/27/2024
                    
                .main-overview
                    .overviewcard
                        h3.overviewcard__icon Resources
                        .overviewcard__info 73
                    .overviewcard
                        h4.overviewcard__icon Types
                        .overviewcard__info 25
                    .overviewcard
                        h4.overviewcard__icon Tags
                        .overviewcard__info 4
                    .overviewcard
                        h4.overviewcard__icon Authors
                        .overviewcard__info 7
                .main-cards
                    .card Recently Added: Resources
                    .card Recently Added: Authors
                    .card Recently Added: Subjects
            footer.footer
                .footer__copyright 
                .footer__signature 


    