extends layout

block content

  h1 Advanced HTML & CSS Resources

  div(style='margin-left:20px;margin-top:20px')

    if advanced_resources.length
      dl
        each resource in advanced_resources
          dt
            a(href=resource.url) #{resource.name}
    else
      p There are no Advanced HTML & CSS resources.