extends layout

block content
  h1= title
  a(href="/database/author/create") + Create new author
  if author_list.length
    ul
      each author in author_list
        li
          a(href=author.url) #{author.name}

  else
    p There are no resources.
