extends layout

block content

  

  form(method='POST').form-container
    h1 #{title}
    div.form-group
      label(for='name') Author:
      input#author.form-control(type='text', placeholder='Beethoven, Michaelangelo, etc.' name='name' required value=(undefined===author? '' : author.name) )
    button.btn.btn-primary(type='submit') Submit

    if errors
      ul
        for error in errors
          li!= error.msg
    
    a(href="/database/authors") Back to authors list