extends layout

block content

  h1 Author: #{author.name}

  div(style='margin-left:20px;margin-top:20px')

    h2(style='font-size: 1.5rem;') Resources by this Author
    if author_resources.length
      dl
        each resource in author_resources
          dt
            a(href=resource.url) #{resource.name}
    else
      p This author has no resources.
      a(href="/database/authors") Go back to authors list 
  hr
  p
    a(href=author.url+'/delete') Delete author