extends layout

block content

  h1 React Resources

  div(style='margin-left:20px;margin-top:20px')

    if react_resources.length
      dl
        each resource in react_resources
          dt
            a(href=resource.url) #{resource.name}
    else
      p There are no React resources.