extends layout

block content

  h1 Type: #{type.type}

  div(style='margin-left:20px;margin-top:20px')

    h2(style='font-size: 1.5rem;') #{type.type} Resources
    if type_resources.length
      dl
        each resource in type_resources
          dt
            a(href=resource.url) #{resource.name}
    else
      p This resource type has no resources.