extends layout

block content

  

  form(method='POST').form-container
    h1 #{title}
    div.form-group
      label(for='type') Type:
      input#type.form-control(type='text', placeholder='Article, Documentation, Video, etc.' name='type' required value=(undefined===type ? '' : type.type) )
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
