/* Form styles */

.form-container hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.form-group b {
  color: var(--secondary);
}

.form-container .button,
.cancelbtn {
  font-size: 1em;
  display: block;
  cursor: pointer;
  width: 100%;
  padding: 8px 25px;
  background: var(--secondary);
  color: white;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  font-family: "Montserrat Alternates", sans-serif;
}

.cancelbtn {
  margin: 10px 0;
}

.cancelbtn a {
  color: white;
}

.form-container .back {
  margin: 20px 0;
}

.signupbtn {
  margin-top: 20px;
}

.form-container .button:hover {
  opacity: 0.9;
}

.form-container {
  padding: 16px;
}

/*Login form styles.*/

.checkboxes,
.link {
  margin-top: 20px;
}

.tags {
  margin-bottom: 20px;
}

.form-container {
  border: 1px solid #ccc;
}

.form-container input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form-container input::placeholder,
select::placeholder,
textarea::placeholder {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
}

.form-container input,
select {
  margin-bottom: 20px;
}

.form-container input:focus,
textarea:focus {
  background-color: #ddd;
  outline: none;
}

.login-container {
  padding: 16px;
}

.login span.psw {
  float: right;
  padding-top: 16px;
}
